@import './dropdown.default.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@keyframes DropdownAnimate {
    from {
        height: 0 ;
        opacity: 0 !important;
    }
    to {
        height: 120px ;
        opacity: 1 ;
    }
}
@keyframes ani {
    from { opacity: 0 }
    to { opacity: 1}
}

.dropdown-intern {
    width: auto !important;
    height:100%;
    .user-profile {
        width: 100%;
        height:100%;
        display: table;
        cursor: pointer;
        font-size: 14px;
        outline: none;
        .userImage {
            height: 30px;
            width: 30px;
            padding-right: 10px;
            border-radius: 15px;
        }
        .material-icons {
            transition: 1s;
            padding: 0;
        }
        span {
            vertical-align: middle;
            display: table-cell;
            padding-left: 15px;
        }
    }
    .user-profile-active {
        @extend .user-profile;
    }
    .dropdown-container-intern {
        width: 100%;
        height:100%;
        border-top:1px solid white;
        height: auto;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        animation-name: DropdownAnimate;
        animation-duration: 0.5s;
        
        li {
            cursor: pointer;
            padding: 12px 16px;
            list-style: none;
            animation-name: ani;
            animation-duration: 2s !important;
            a {
                //padding: 8px;
                text-decoration: none;
                display: block;
            }
        }
    }
}