/*************** primary colors  **************/
/************ Button **************/
/************ Button End**************/
/*************** primary colors End **************/
.default-dropdown {
  height: 100%; }
  .default-dropdown .dropdown-intern {
    height: 100%; }
    .default-dropdown .dropdown-intern .user-profile {
      height: 100%; }
      .default-dropdown .dropdown-intern .user-profile:hover {
        background-color: #00796b; }
    .default-dropdown .dropdown-intern .user-profile-active {
      background-color: #00796b; }
    .default-dropdown .dropdown-intern .dropdown-container-intern {
      background-color: #009688;
      border-top: 1px solid #004d40; }
      .default-dropdown .dropdown-intern .dropdown-container-intern li:hover {
        background-color: #00796b; }
      .default-dropdown .dropdown-intern .dropdown-container-intern li:active {
        background-color: #00796b; }
      .default-dropdown .dropdown-intern .dropdown-container-intern li:visited {
        background-color: #00796b; }
      .default-dropdown .dropdown-intern .dropdown-container-intern li a {
        color: white; }

.cyan-dropdown .dropdown {
  background-color: #00BCD4; }
  .cyan-dropdown .dropdown .user-profile:hover {
    background-color: #00ACC1; }
  .cyan-dropdown .dropdown .user-profile-active {
    background-color: #00ACC1; }
  .cyan-dropdown .dropdown .dropdown-container {
    background-color: #00BCD4;
    border-top: 1px solid #00838F; }
    .cyan-dropdown .dropdown .dropdown-container li:hover {
      background-color: #00ACC1; }
    .cyan-dropdown .dropdown .dropdown-container li:active {
      background-color: #00ACC1; }
    .cyan-dropdown .dropdown .dropdown-container li:visited {
      background-color: #00ACC1; }
    .cyan-dropdown .dropdown .dropdown-container li a {
      color: white; }

.blue-dropdown .dropdown {
  background-color: #2196F3; }
  .blue-dropdown .dropdown .user-profile:hover {
    background-color: #1E88E5; }
  .blue-dropdown .dropdown .user-profile-active {
    background-color: #1E88E5; }
  .blue-dropdown .dropdown .dropdown-container {
    background-color: #2196F3;
    border-top: 1px solid #1565C0; }
    .blue-dropdown .dropdown .dropdown-container li:hover {
      background-color: #1E88E5; }
    .blue-dropdown .dropdown .dropdown-container li:active {
      background-color: #1E88E5; }
    .blue-dropdown .dropdown .dropdown-container li:visited {
      background-color: #1E88E5; }
    .blue-dropdown .dropdown .dropdown-container li a {
      color: white; }
