.navbar {
  display: flex; }

.navbar #dropdown-container {
  background-color: #02546e !important; }

.navbar li {
  display: block;
  margin: 20px; }

.navbar li a {
  color: black;
  text-decoration: none; }

.navbar li a:hover {
  color: white; }

.navbar li .active {
  color: white; }

.navbar botton {
  background-color: inherit; }

/**************************************
1. a{ :hover } property does not work so it has to be outside





****************************************/
