.navbar {
  display: flex;
    #dropdown-container {
      background-color: #02546e !important;
    }


  li {
    display: block;
    margin: 20px;
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: white;
    }
    .active {
      color :white;
    }
  }

  botton {
    background-color:inherit;
  }
}



// Remarks

/**************************************
1. a{ :hover } property does not work so it has to be outside





****************************************/