.message-component {
  min-width: 200px;
  min-height: 60px; }

.message-component .info {
  padding: 8px 20px 8px 15px;
  background-color: #1E88E5;
  color: white; }

.message-component .info .close {
  float: right;
  cursor: pointer; }

.message-component .success {
  padding: 8px 20px 8px 15px;
  background-color: mediumseagreen;
  color: darkgreen; }

.message-component .error {
  padding: 8px 20px 8px 15px;
  background-color: indianred;
  color: red; }
